<?php if ($this->user->hasPermission('ms1design.root.projects') || $this->user->hasPermission('ms1design.root.translate_and_edit')): ?>
    <div data-control="toolbar">
            <a href="<?= Backend::url('ms1design/root/projects/create') ?>" class="btn btn-primary oc-icon-plus"><?= e(trans('backend::lang.form.create')) ?></a>
        <button
        class="btn btn-default oc-icon-check"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onActivateProjects"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-stripe-load-indicator>
        <?= e(trans('ms1design.root::lang.button.activate')) ?>
    </button>
    <button
        class="btn btn-default oc-icon-times"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDeactivateProjects"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-stripe-load-indicator>
        <?= e(trans('ms1design.root::lang.button.deactivate')) ?>
    </button>
    <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onRemoveProjects"
        data-request-confirm="<?= e(trans('ms1design.root::lang.projects.flash.confirmdelete')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-stripe-load-indicator>
        <?= e(trans('ms1design.root::lang.button.delete')) ?>
    </button>
        </div>
<?php endif ?>
