<?php

	if ( (is_array($value) || is_object($value)) && count($value) > 0 )
	{
		$members = "";
		$count = 0;
		$i = 1;

		foreach ($value as $functions => $function) {
			//$members .= "<b>" . strtoupper($function['function']) . ":</b> "; // functions name
			if ( !array_key_exists('responsible', $function) ){
				echo trans('ms1design.root::lang.projects.nomembers');
				return;
			}
			$count = $count + count($function['responsible']);
			foreach ($function['responsible'] as $member => $name) {
				$members .= $name['member'] . ", "; // member name
			// if ($i < $count){
			//    	$members .= ", ";
			//    }else {
			//    	$members .= " ";
			//    }
			//    $i++;
			}
		}

		echo "<b>" . trans('ms1design.root::lang.global.total') . " " . $count . "</b>:<br>" . $members;
	}
	else
	{
		echo trans('ms1design.root::lang.projects.nomembers');
	}
?>