<?php if ($this->user->hasPermission('ms1design.root.content') || $this->user->hasPermission('ms1design.root.translate_and_edit')): ?>
	<div data-control="toolbar">
		<a href="<?= Backend::url('ms1design/root/contents/create') ?>" class="btn btn-primary oc-icon-plus"><?= e(trans('backend::lang.form.create')) ?></a>
	</div>
<?php endif ?>