<?php Block::put('breadcrumb') ?>
    <ul>
        <li><?= e(trans('ms1design.root::lang.menu.members')) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if ($MembersStatus !== 'false' || $LatestMember !== 'false'): ?>
    <div class="scoreboard">
        <div data-control="toolbar">
<?php endif ?>
        <?php if ($MembersStatus !== 'false'): ?>
            <div class="scoreboard-item control-chart" data-control="chart-bar">
                <ul>
                	<?php
                        $colors = [
                            'active'       => '#66BB6A',
                            'guest'        => '#e67e22',
                            'hidden'       => '#95a5a6',
                            'ex-member'    => '#9E9E9E',
                            'total'        => '#1E88E5',
                        ];
                        $status = [
                        	'active'       => e(trans('ms1design.root::lang.members.chart_active')),
                            'guest'       => e(trans('ms1design.root::lang.members.chart_guest')),
                            'hidden'       => e(trans('ms1design.root::lang.members.chart_hidden')),
                            'ex-member'    => e(trans('ms1design.root::lang.members.chart_ex')),
                            'total'        => e(trans('ms1design.root::lang.members.chart_total')),
                        ];
                        $types = array_count_values($MembersStatus);
                        $hidden = 0;
                        $ex = 0;
                        echo "<li data-color='" . $colors['total'] . "'>" . $status['total'] . "<span>" . count($MembersStatus) . "</span></li>";
                        foreach ($types as $key => $val) {
                            if ($key != 'hidden' && $key != 'ex-member' ){
                                echo "<li data-color='" . $colors[$key] . "'>" . $status[$key] . "<span>" . $val . "</span></li>";
                            } elseif ($key == 'hidden') {
                                $hidden = $hidden + $val;
                            } elseif ($key == 'ex-member'){
                                $ex = $ex + $val;
                            }
                        }
                    ?>
                </ul>
            </div>
        
            <?php if ($ex > 0): ?>
                <div class="scoreboard-item title-value">
                    <h4><?= e(trans('ms1design.root::lang.members.chart_ex')) ?></h4>
                    <p class="oc-icon-user-times"><?= $ex ?></p>
                </div>
            <?php endif ?>
            <?php if ($hidden > 0): ?>
                <div class="scoreboard-item title-value">
                    <h4><?= e(trans('ms1design.root::lang.members.chart_hidden')) ?></h4>
                    <p class="oc-icon-user-secret"><?= $hidden ?></p>
                </div>
            <?php endif ?>
            <?php if ($LatestMember !== 'false'): ?>
                <div class="scoreboard-item title-value">
                    <h4><?= e(trans('ms1design.root::lang.members.chart_last_added')) ?></h4>
                    <p class="oc-icon-user-plus"><?= $LatestMember['name'] ?></p>
                    <p class="description" style="padding-left: 30px;"><?= $LatestMember['title'] ?></p>
                </div>
            <?php endif ?>
        <?php endif ?>

        <?php if ($MembersStatus !== 'false' || $LatestMember !== 'false'): ?>
    </div>
</div>
<?php endif ?>

<?= $this->listRender() ?>
