button.locale-selector {
	z-index: 720;
    border: 1px solid #8c8c8c;
    text-align: center !important;
    padding: 5px 0;
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
}
body[style="overflow: hidden;"] button.locale-selector {
	position: fixed !important;
    top: 5px !important;
    right: 20px !important;
}
li.redactor-btn-right {
	/*float: left !important;*/
}

.field-multilingual-richeditor .redactor-toolbar {
	padding-right: 55px !important;
}
body[style="overflow: hidden;"] .redactor-box-fullscreen .redactor-toolbar {
	padding-right: 55px !important;
}
.field-multilingual.field-multilingual-richeditor .dropdown-menu {
	top: 30px !important;
}
body[style="overflow: hidden;"] .field-multilingual.field-multilingual-richeditor .dropdown-menu {
	top: 30px !important;
    right: 20px;
    position: fixed !important;
}

@media screen and (min-width: 1024px) {
    .form-group.three-cols {
        float: left;
        width: 33.3%;
        clear: none;
        padding: 5px 20px 25px;
    }
    .form-group.three-cols.first{
        padding-left: 0 !important;
    }
    .form-group.three-cols.last {
        padding-right: 0 !important;
    }
}
@media screen and (max-width: 1023px) {
    .form-group:first-of-type {
        width: 100%;
    }
}

td.slim {
    max-width: 500px;
}